:root {
    --green-color: #154203;
    --light-green-color: #249300;
    --grey-color: #7b7b7b;
    --light-grey-color: #9d9d9d;
    --red-color: #E12237;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0.5rem 5%;
    gap: 1.5rem;
    background-color: transparent;
    position: fixed;
    z-index: 1;
}

header .logo img {
    height: 40px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

header nav ul li a {
    text-decoration: none;
    color: #7b7b7b;
    font-size: 0.9rem;
}

.vl {
    border-left: 1px solid #7b7b7b;
    margin-left: 25vw;
    height: 2rem;
}

.login {
    color: #7b7b7b;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: left;
    position: fixed;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
    padding: 0.5rem 5%;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.logo {
    background: var(--green-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;

}
.logo img {
    width: auto;
    height: 40px;
    object-fit: contain;
    object-position: center;
    margin: 0px 0px 0px 0px;
}


.navbar-nav .nav-link {
    font-size: 14px; /* ubah sesuai kebutuhan */
    letter-spacing: 0.5px; /* opsional: bikin huruf lebih renggang */

}

.nav-links a, .login-btn {
    text-decoration: none;
    color: var(--grey-color);
    font-size: 0.9rem;
    font-weight: 400;
}
.background {
    background-image: url('../assets/images/about/industrial.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3vw;
    text-align: left;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff;
    position: absolute;
    width: 100%;
    top: 30%;
}


.container h1 {
    font-size: clamp(3rem, 5vw, 5rem);
    margin-bottom: 10px;
    text-align: left;
    padding-left: 4vh;
}

.container p {
    text-align: left;
    padding-left: 4vh;
    font-size: clamp(1rem, 2vw, 3rem);

}

.gr-box {
    background-color: #f9f9f9;
    background-size: cover;
    background-position: center;
    /*position: absolute;
    top:90%;*/
    top: auto;
    height: auto;
    width: 100%;
    padding: 4vh;
}

.background-2 {
    font-size: clamp(50px, 5vw, 70px);
    color: black;
}

.background-2 p {
    /*padding: 2rem;*/
}

.desc {
    /*font-size: 3vh;*/
    text-align: justify;
    color: black;
}

.desc-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*height: 400px; */
    padding: 0 20px;
    /*position: absolute;
    top: 0%;*/
    margin-top: 15px;
    margin-left: 40%;
    font-size: 15px;
    color: black;
}

.img-box {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 725px;
    width: 100%;
}

.features {
    display: flex;
    gap: 0; /* Removes any space between the images */
}

.img-class {
    height: 725px;
    width: 32.8vw;
}

.wh-box {
    background-color: transparent;
    background-size: cover;
    background-position: center;
    padding: 4vh;
    /*position: absolute;
    top:90%;*/
    top: auto;
    height: 70vh;
    /*width: 100%;*/
}


.background-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: auto;
    font-size: clamp(50px, 5vw, 70px);;
    color: black;
}

.bl-container {
    background-color: #d3d3d3;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    color: #000;
    position: absolute;
    top: auto;
    right: 0;

}

.responsive-img {
    max-width: 100%; /* Gambar tidak akan melebihi lebar elemen induknya */
    height: auto; /* Tinggi akan menyesuaikan proporsi */
    display: block; /* Menghilangkan jarak bawaan gambar (opsional) */
    margin: 0 auto; /* Pusatkan gambar (opsional) */
}

.row {
    margin: 0;
}

.wh-box-2 {
    background-color: transparent;
    background-size: cover;
    background-position: center;
    padding: 4vh;
    /*position: absolute;
    top:90%;*/
    top: auto;
    /*height: 70vh;*/
    align-items: center;

}


.background-4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: auto;
    font-size: clamp(50px, 5vw, 70px);;
    color: black;
}


.img-box-wh {
    display: flex; /* Menggunakan flexbox untuk tata letak */
    justify-content: center; /* Memusatkan secara horizontal */
    width: 100%; /* Pastikan lebar penuh */
}

.img-class-4 {
    max-width: 100%; /* Membatasi ukuran gambar agar tidak terlalu besar */
    height: auto;
    width: 70vw; /* Memastikan aspek rasio gambar tetap */
}

.gr-background-2 {
    background-color: transparent;
    background-size: cover;
    background-position: center;
    padding: 4vh;
    /*position: absolute;
    top:90%;*/
    top: auto;
    /*height: 70vh;*/
    align-items: center;


}

.horizontal-line-3 {
    /*position: absolute;
    left: 0; */
    width: 100%;
    /*border-top: 0px solid black;*/
    margin-top: -20px;
    top: 140px;
}

.background-box {
    background-color: transparent;
    background-size: cover;
    background-position: center;
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Spaces images evenly */
    align-items: center;
    padding: 20px;
}

.background-14, .background-15, .background-16, .background-17, .background-18 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust as needed */
    width: auto;
    font-size: 32px;
    color: black;
}


.text-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: auto;
    font-size: clamp(50px, 5vw, 70px);;
    color: black;
}

.certifications {
    background-color: #f9f9f9;
    padding: 4vh;
    text-align: center;
    box-sizing: border-box;
}

.certifications h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.certification-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 2rem;
    justify-items: center;
    align-items: center;
}

.certification-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 20rem;
    height: 10rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* Gambar dalam Certification */
.certification-item img {
    width: 80px;
    height: auto;
    margin-bottom: 1rem;
    object-fit: contain;
}


/* Efek hover pada Certification item */
.certification-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}


.certification-icon {
    width: 80px;
    height: auto;
    margin-bottom: 1rem;
    object-fit: contain;
}

.certification-item p {
    color: #000;
    font-size: clamp(14px, 1vw, 1rem);
    margin: 0;
    font-weight: bold;
}


/* Gambar latar belakang */


/* Gambar latar belakang */
.background-20 {
    background-image: url('../assets/images/about/industrial.jpg');
    background-size: cover;
    background-position: center;
    margin: auto;
    height: 80vh;
    background-repeat: no-repeat;
}

.lis-putih {
    height: 90%;
    width: 95%;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-content: center;
    border: 2px solid #fff;
    transform: translate(0%, 6%);
}

.text-ab-2 {
    /*max-width: 60%;*/
    color: #fff;
    padding-bottom: 4vw;
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: clamp(2rem, 4vw, 3rem);
    justify-items: center;

}

.background-21 {
    align-items: center;
    color: black;
    margin-left: 32vw;

}

.img-text-33 {
    color: #fff;
    font-size: 14pt;
    /*margin-left: -2vw;*/
}

.background-22 {
    align-items: center;
    color: black;
    /*margin-left: 52vw;*/
    /*margin-top: -5.2rem;*/

}

.img-text-4 {
    color: #fff;
    font-size: 14pt;
    margin-left: -3vw;
}


.footer {
    background-color: #fff;
    padding: 40px;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*flex-wrap: wrap;*/
    /*width: 100%;*/
    /*position: relative;*/
}


.img-footer {
    /*margin-bottom: 20px;*/
}

.subscribe-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
}

.subscribe-container input[type="email"] {
    border: none;
    padding: 10px;
    flex: 1;
    font-size: 14px;
}

.subscribe-container button {
    background-color: #2d4b1a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

.footer h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
}

.footer a, .footer p {
    color: #00000080;
    text-decoration: none;
    font-size: 14px;
    margin: 5px 0;
    display: block;
}

.footer a:hover {
    color: darkgray;
}

.terms {
    margin-top: 10px;
}

.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 1rem 0;
}

.form-group-inline {
    display: flex;
    gap: 10px;
}



.footer-social {
    display: flex;
    /*align-items: center;*/
    /*position: absolute;*/
    /*bottom: 60px;*/
    /*right: 20px;*/
}

.footer-social a {
    margin-right: 25px; /* Adjust this value to control the spacing */
}

.footer-social a:last-child {
    margin-right: 0; /* Remove margin from the last icon */
}


.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00c853; /* Green color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.floating-button:hover {
    transform: scale(1.1); /* Slight zoom on hover */
}

/* Icon inside the button */
.floating-button i {
    color: white;
    font-size: 24px;
}